*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}
h1,h2{
  text-align: center;
}
textarea{
  padding: 2px 2px;
}
.adys-phone{
    width:412px;
    min-height:1006px;
    border:1px solid blue;
    padding:10px;
}
.note-btn,
.bday-btn{
    border-radius:5px;
    font-size:10px;
    cursor:pointer;
    padding:2px 5px;
    margin-right:10px;
    border:none;
}
.dad-display-bday{
  background:#52b4ff;
  text-align: center;
  padding:5px 0px;
}
a{
  text-decoration: none;
  color:blue;
}